stockPredictorEnv/
stock_forecaster/db.sqlite3
*.pyc
stock_forecaster/stock_forecaster/__pycache__/urls.cpython-311.pyc
stock_forecaster/stock_forecaster/__pycache__/urls.cpython-311.pyc
stock_forecaster/stock_forecaster/__pycache__/settings.cpython-311.pyc
stock_forecaster/stock_forecaster/__pycache__/settings.cpython-311.pyc
stock_forecaster/stock_forecaster/__pycache__/settings.cpython-311.pyc
stock_forecaster/db.sqlite3

# Ignores all folders in root directory with 'env' in them
*env*/